/* Custom folder icon */
.folder-icon.jstree-themeicon {
    background-image: url('../../assets/folder.png');
    background-size: contain;
}

/* Custom file icon */
.file-icon.jstree-themeicon {
    background-image: url('../../assets/file.png');
    background-size: contain;
}

.image-icon.jstree-themeicon {
    background-image: url('../../assets/image.png');
    background-size: contain;
}

.pdf-icon.jstree-themeicon {
    background-image: url('../../assets/pdf.png');
    background-size: contain;
}


.video-icon.jstree-themeicon {
    background-image: url('../../video.png');
    background-size: contain;
}


.mto-jstree-search {
    font-size: 16px;
    padding: 15px
}

#mto-admin-tree .jstree-container-ul {
    background-color: #f7f7f7;
    padding: 15px;
}

.jstree-anchor.jstree-media-item::after {

    content: attr(data-last-modified);
    background-color: #fff;
    border-radius: 2px;
    color: #333;
    padding: 6px;
    margin-left: 5px;
    pointer-events: none;

}