#wpbody {
    display: flex;
}

#wpbody-content {
    flex-grow: 1;
}

body.wp-admin.upload-php #wpbody-content .wp-header-end,
body.wp-admin.upload-php #wpfooter {
    display: none;
}

.mto-jstree-search {
    font-size: 12px;
    padding: 8px;
    margin-bottom: 10px;
}

#mto-admin-tree {
    background-color: #f7f7f7;
    padding: 10px;
}


.folder-icon.jstree-themeicon {
    background-image: url('../../assets/folder.png');
    background-size: contain;
}


#wpbody {
    display: flex;
    height: 100%;
    /* Or adjust as needed */
}

#resizable-wrapper {
    min-width: 250px;
    margin-right: 10px;

}

/* Your tree wrapper */
.mto-tree-wrapper {
    position: sticky;
    top: 50px;
    padding: 10px;
    margin: 15px;
    overflow: hidden;
}


/* The Resizable handler */

#resizable-wrapper .ui-resizable-e {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    cursor: ew-resize;
    background: grey;
}


.vakata-context,
.vakata-context ul {
    z-index: 99;
}

.draggable-row-clone {
    position: absolute;
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 9999;
    padding: 10px;
    border: 1px solid #ddd;
}

.draggable {
    cursor: move;
}

.drag-helper {
    border: 1px solid black;
    background-color: lightgray;
    padding: 5px;
    width: auto;
}