#wpbody {
    display: flex;
}

#wpbody-content {
    flex-grow: 1;
}

body.wp-admin.upload-php #wpbody-content .wp-header-end,
body.wp-admin.upload-php #wpfooter {
    display: none;
}

.mto-jstree-search {
    font-size: 12px;
    padding: 8px;
    margin-bottom: 10px;
}

#mto-admin-tree {
    background-color: #f7f7f7;
    padding: 0;
}

.folder-icon.jstree-themeicon {
    background-image: url('../../assets/folder.png');
    background-size: contain;
}


#wpbody {
    display: flex;
    height: 100%;
    /* Or adjust as needed */
}

.resizable-wrapper {

    background-color: #fff;
    box-sizing: border-box;
    min-width: 250px;
    margin-right: 10px;

}

/* Your tree wrapper */
.mto-tree-wrapper {
    position: sticky;
    top: 50px;
    padding: 10px;
    margin: 15px;
    overflow: hidden;
}


/* The Resizable handler */

.resizable-wrapper .ui-resizable-e {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    cursor: ew-resize;
    background: grey;
}

.vakata-context,
.vakata-context ul {
    z-index: 99;
}